html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
    font-size: 26px;
}

div[role="group"][tabindex] {
    height: 100%;
}

/* * {
    transition: all 1s ease-in-out;
} */

img,
video {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}